.mainHeader {
  padding: 2.3rem 5rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#175f3a,#114b2d,#175f3a);
  color: white;
  border-radius: 0px 0px 4px 4px;
  position: fixed;
  width: 100%;
  font-family: 'Satisfy', Tahoma, Geneva, Verdana, sans-serif;
  
}

.mainHeader a {
  color: white;
}


ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
}

